.icon {
    flex-grow: 4;
}


.icon__border {
    width: 150px;
    border-radius: 100%;
    border: 1px solid #dbdbdb;
    margin: 0px auto;
}

.icon img {
    width: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
}
