.description h4 {
    font-weight: 500;
    margin-bottom: 0;
}

.description ul {
    padding-left: 20px;
    margin: 5px 0;
}

.description ul li {
    font-weight: 400;
}


.description a,
.description a:active,
.description a:hover,
.description a:visited,
.description a:link  {
    color: #00376b;
    text-decoration: none;
    font-weight: 500;
}