.container__list {
    width: 62.5%;
    margin: 0px auto;
}

.image__list{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    place-items: center;
}

.image__list img {
    width: 293px;
    height: 293px;
    object-fit: cover;  
}
