.story {
    width: 125px;
    font-size: 14px;
    flex: 0 0 auto;
    text-align: center;
}

.story__border {
    width: 82px;
    height: 82px;
    border: 1px solid #cdcdcd;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.story img {
    width: 75px;
    border-radius: 100%;
}

@media screen and (max-width: 768px) {
    .story {
        width: 75px;
        font-size: 12px;
    }

    .story__border {
        width: 62px;
        height: 62px;
    }

    .story img {
        width: 56px;
    }
}

